*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.ionic-col{
    height: 15rem;
    background-color: rgb(219, 219, 219);
    border: 5px solid #fff;
}

.ionic-col-grid{
    height: 16rem;
    background-color: rgb(219, 219, 219);
    border: 5px solid #fff;
}

@media only screen and (max-width: 1080px) {
    .ionic-col{
        height: 13rem;
    } 
    .ionic-col-grid{
        height: 14rem;
    }
}

@media only screen and (max-width: 720px) {
    .ionic-col{
        height: 11rem;
    } 
    .ionic-col-grid{
        height: 12rem;
    }
}

@media only screen and (max-width: 420px) {
    .ionic-col{
        height: 9rem;
    } 
    .ionic-col-grid{
        height: 10rem;
    }
}

@media only screen and (max-width: 320px) {
    .ionic-col{
        height: 7rem;
    } 
    .ionic-col-grid{
        height: 8rem;
    }
}