*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

#container{
    background-color: #D8E5ED;
    .animation{
        height: 100vh;
        .login-btn{
            background-image: linear-gradient(to right, #37A7E6, #3D54BA);
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 10;
            height: 10rem;
            width: 10rem;
            margin-top: -5rem;
            margin-left: -5rem;
            margin-bottom: -10vh;
            p{
                display: flex;
                justify-content: center;
                padding-top: 4rem;
                color: #fff;
                font-weight: bolder;
                font-size: 2rem;
            }
        }
        .bubbles{
            height: 20rem;
            width: 20rem;
            border-radius: 50%;
            transition-duration: 3s;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -10rem;
            margin-left: -10rem;
            margin-bottom: -10vh;
            animation: bubble 500s infinite;
            p{
                background-image: linear-gradient(to right, #37A7E6, #3D54BA);
                border-radius: 50%;
                position: relative;
            }
            .bubble1{
                height: 2rem;
                width: 2rem;
                top: 13%;
                left: 60%;
            }
            .bubble2{
                height: 1.2rem;
                width: 1.2rem;
                top: 7%;
                left: 50%;
            }
            .bubble3{
                height: 2.5rem;
                width: 2.5rem;
                top: 50%;
                left: 16%;
            }
            .bubble4{
                height: 1rem;
                width: 1rem;
                top: 50%;
                left: 60%;
            }
            .bubble5{
                height: 4rem;
                width: 4rem;
                top: 30%;
                left: 70%;
            }
            &:hover{
                transform: rotateZ(360deg);
            }
        }
        @keyframes bubble {
            from{
              transform: rotateZ(0deg);
            }
            to{
              transform: rotateZ(3600deg);
            }
          }
    }
    #container-card{
        background-color: #fff;
        height: 10vh;
        width: 100%;
        position: absolute;
        bottom: 0;
        border-radius: 40px 40px 0 0;
        z-index: 100;
        overflow-y: scroll;
        padding: 0 20px;
        .card-line{
            height: 4px;
            width: 150px;
            background-color: rgb(233, 229, 229);
            margin: 25px auto;
        }
        p{
            text-align: center;
        }
        .input-field{
            --background: #fff;
            border: 1px solid #1d1d62;
            margin-bottom: 20px;
            padding: 0;
            color: #000;
            .label{
                color: rgb(82, 79, 79);
            }
        }
        .btn{
            margin-top: 16px;
            --background: #1d1d62;
        }
    }
}