
<ion-content>
  <div class="container">
    <ion-row>
      <ion-col>
        <h3>
          <ion-icon name="arrow-back-circle-outline" class="back-icon" routerLink="/home/dash"></ion-icon>
          Request Money
        </h3>
      </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col class="request">
        <p>Request Money</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="request">
        <p>Request Money</p>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
