<div class="container">
  <ion-row>
    <ion-col>
      <h3>
        <ion-icon name="arrow-back-circle-outline" class="back-icon" routerLink="/home"></ion-icon>
        withdraw
      </h3>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="banner">
      <img src="../../../../assets/withdraw banner.svg" alt="">
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="money">
      <p>₹00000</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <p class="name">name</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="button">
      <ion-button type="submit" class="submit-btn">Done</ion-button>
    </ion-col>
  </ion-row>
</div>