*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    background-color: #fff;
    min-height: 100vh;
    padding: 10px;
    h3{
        color: #162249;
        padding: 40px 0 28px 20px;
        font-size: 24px;
        display: flex;
        text-transform: capitalize;
        .back-icon{
            margin-right: 20px;
        }
    }
    
    .banner{
        min-height: 120px;
        margin: 20px 10px 50px;
        img{
            object-fit: cover;
        }
    }

    .money{
        display: flex;
        justify-content: center;
        p{
            color: #162249;
            font-size: 36px;
            font-weight: bolder;
            margin-bottom: 50px;
        }
    }

    .name{
        color: rgba(172, 172, 172, 0.329);
        font-size: 18px;
        margin: 0 30px 50px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.329);
        text-transform: capitalize;
        padding-bottom: 5px;
    }

    .button{
        display: flex;
        justify-content: center;
        .submit-btn{
            --background: #162249;
            color: #fff;
        }
    }
}