*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    background-image: linear-gradient(to right, #37A7E6, #3D54BA);
    min-height: 100vh;
    padding: 10px;
    h3{
        color: #fff;
        padding: 40px 0 28px 20px;
        font-size: 24px;
        display: flex;
        text-transform: capitalize;
        .back-icon{
            margin-right: 20px;
        }
    }
    
    .banner{
        min-height: 120px;
        margin: 20px 10px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img{
            object-fit: cover;
            height: 200px;
        }
    }

    .money{
        display: flex;
        justify-content: center;
        p{
            color: #fff;
            font-size: 36px;
            font-weight: bolder;
            margin-bottom: 50px;
        }
        ion-input{
            // display: inline-block;
            color: #fff;
            font-size: 36px;
            font-weight: bolder;
            margin-bottom: 30px;
            width: 50%;
            text-align: center;
        }
    }

    .button{
        display: flex;
        justify-content: center;
        .submit-btn{
            --background: #fff;
            color: #2B3E80;
        }
    }
}