*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.money-send-page{
    background-image: linear-gradient(to right, #37A7E6, hsl(229, 51%, 48%));
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    img{
        height: 250px;
    }
    h1{
        color: #fff;
        font-size: xx-large;
        margin-top: 40px;
        font-weight: bolder;
    }
    p{
        color: #fff;
        font-size: 13px;
        margin-top: 10px;

    }
    .detail-btn{
        margin-top: 30vh;
        background-color: #1D1D65;
        color: #fff;
        padding: 15px 24px;
        margin-bottom: 20px;
    }
}