.ionic-col{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;
    .img-fluid{
      height: 50px;
      cursor: pointer;
    }
    p{
      font-family: "Calibri", sans-serif;
      color: #000;
      text-align: center;
      font-size: 1.4rem;
      text-transform: capitalize;
      margin: 10px;
    }
}
.ad-sense{
  margin: 40px 0;
}
.utility-heading{
  color: #000;
  text-transform: capitalize;
  font-size: 1.8rem;
  border-bottom: 1px solid #000;
  display: inline-block;
  font-weight: 500;
  margin: 0 0 30px 10px;
}
.utility-img{
  height:55px;
  cursor: pointer;
}
.utility-para{
  font-family: "Calibri", sans-serif;
  color: #000;
  text-align: center;
  font-size: 1.2rem !important;
  text-transform: capitalize;
  margin: 10px;
}


@media only screen and (max-width: 1080px) {
  .ionic-col{
    .img-fluid{
      height: 40px;
    }
    p{
      font-size: 1rem;
      margin: 10px;
   }
}
.ad-sense{
  height: 9rem;
}
.utility-heading{
  font-size: 1.4rem;
}
.utility-img{
  height: 45px;
}
.utility-para{
  font-size: 0.9rem !important;
}
}


@media only screen and (max-width: 720px) {
  .ionic-col{
    .img-fluid{
      height: 35px;
    }
    p{
      font-size: 0.8rem;
      margin: 10px;
   }
}
.ad-sense{
  height: 8rem;
}
.utility-heading{
  font-size: 1.2rem;
}
.utility-img{
  height: 40px;
}
.utility-para{
  font-size: 0.7rem !important;
}
}


@media only screen and (max-width: 420px) {
  .ionic-col{
    .img-fluid{
      height: 30px;
    }
    p{
      font-size: 0.7rem;
      margin: 10px;
   }
}
.ad-sense{
  height: 7rem;
}
.utility-heading{
  font-size: 1rem;
}
.utility-img{
  height: 35px;
}
.utility-para{
  font-size: 0.6rem !important;
}
}


@media only screen and (max-width: 320px) {
  .ionic-col{
    .img-fluid{
      height: 25px;
    }
    p{
      font-size: 0.6rem;
      margin: 0px;
      margin-top: 5px;
   }
}
.ad-sense{
  height: 6rem;
}
.utility-heading{
  font-size: 0.8rem;
}
.utility-img{
  height: 30px;
}
.utility-para{
  font-size: 0.5rem !important;
}
}