.ionic-col{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;
    .img-fluid{
      height: 35px;
      cursor: pointer;
    }
    p{
      font-family: "Calibri", sans-serif;
      color: #000;
      text-align: center;
      font-size: 0.9rem;
      text-transform: capitalize;
      margin: 10px;
    }
  }
  .ad-sense{
    background-color: rgba(128, 128, 128, 0.377);
    height: 5rem;
    margin: 40px 0;
  }
  .utility-heading{
    color: #000;
    text-transform: capitalize;
    font-size: 1.2rem;
    border-bottom: 1px solid #000;
    display: inline-block;
    font-weight: 500;
    margin: 0 0 30px 10px;
  }
  .utility-img{
    height: 45px;
    cursor: pointer;
  }
  .utility-para{
    font-family: "Calibri", sans-serif;
    color: #000;
    text-align: center;
    font-size: 0.8rem !important;
    text-transform: capitalize;
    margin: 10px;
  }