<ion-row>
  <ion-col size="8">
    <h3 class="balance-detail">0000.00 <span>₹</span></h3>
    <p class="balance-text">total balance</p>
  </ion-col>
  <ion-col size="4">
    <div class="img">
      <div class="user-img"></div>
    </div>
  </ion-col>
</ion-row>


<ion-row>
  <ion-col size="3"></ion-col>
  <ion-col size="3" class="balance-icon-align">
    <img src="../../assets/add.svg" class="balance-icon" alt="">
    <p class="balance-icon-para">add money</p>
  </ion-col>
  <ion-col size="3" class="balance-icon-align">
    <img src="../../assets/add.svg" class="balance-icon" alt="">
    <p class="balance-icon-para">add money</p>
  </ion-col>
    <ion-col size="3"></ion-col>    
</ion-row>


<ion-row>
  <ion-col size="12">
    <ion-row>
      <ion-col size="6">
        <p>earning source</p>
      </ion-col>
      <ion-col size="6">
        <p>0000.00 <span>₹</span></p>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>