<ion-content>
  <div class="container">
    <ion-row>
    <ion-col>
      <h3>
        <ion-icon name="arrow-back-circle-outline" class="back-icon" routerLink="/home/dash"></ion-icon>
        Recharge/Bill Payment
      </h3> 
    </ion-col>
  </ion-row>
    <form [formGroup]="transaction" (ngSubmit)="proceed()">
      <ion-row>
        <ion-col>
          <ion-item lines="Center" class="input-field">
            <ion-label class="label" position="floating">Operator</ion-label>
            <ion-input required   formControlName="operator"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="Center" class="input-field">
            <ion-label class="label" position="floating">Circle</ion-label>
            <ion-input required  formControlName="circle"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="Center" class="input-field">
            <ion-label class="label" position="floating">Enter {{opName || "Account No"}}</ion-label>
            <ion-input type="tel" required formControlName="number" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="Center" class="input-field">
            <ion-label class="label" position="floating">Amount</ion-label>
            <ion-input type="tel" required formControlName="amt"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" class="btn" expand="block" [disabled]="!transaction.valid">Proceed</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
