#container{
    background-color: #D8E5ED;
    
    #container-card{
        background-color: #fff;
        color: #000;
        height: 60px;
        width: 100%;
        position: absolute;
        bottom: 0;
        border-radius: 60px 60px 0 0;
        overflow: hidden;
        .card-line{
            height: 4px;
            width: 150px;
            background-color: rgb(233, 229, 229);
            margin: 10px auto;
        }
        &:hover{
            min-height: 90vh;
        }
    }
}