<ion-content [fullscreen]="true">
  <div id="container" [ngStyle]="{'background-image':backcolor, 'transition-duration': trans}">
    <ion-grid>
      <ion-row class="animation">
        <ion-col class="login-btn" [ngStyle]="{'top':topdist, 'background-image':bgimg, 'transition-duration': trans}" (click)="slideUp()">
          <p>Login</p>
        </ion-col>
        <ion-col size="12">
          <div class="bubbles">
            <p class="bubble1"></p>
            <p class="bubble2"></p>
            <p class="bubble3"></p>
            <p class="bubble4"></p>
            <p class="bubble5"></p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid id="container-card" [ngStyle]="{'height':slide, 'transition-duration': trans}" (click)="slideUp()">
      <ion-row>
        <ion-col>
          <p class="card-line"></p>
          <div>
            <form [formGroup]="mobF" (ngSubmit)="login()">
              
              <ion-grid>
                <ion-row>
                  <ion-col size="12">
                    <ion-item lines="Center" class="input-field">
                      <ion-label class="label" position="floating">Mobile</ion-label>
                      <ion-input type="tel" required formControlName="mobile"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
  
                <ion-row>
                  <ion-col size="12">
                    <ion-item lines="Center" class="input-field">
                      <ion-label class="label" position="floating">Password</ion-label>
                      <ion-input type="password" required formControlName="pass"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
  
                <ion-row>
                  <ion-col>
                    <p (click)="regi()">Not registered Yet?</p>
                  </ion-col>
                </ion-row>
            
                <ion-row>
                  <ion-col size="12">
                    <ion-button type="submit" class="btn" expand="block">Login</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </div>
          <div>

          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>