@font-face {font-family: kalam; src:url(../../fonts/Kalam-Regular.ttf);}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  height: 100vh;
  overflow-y: scroll;
  .splash-logo{
    height: 50vh;
    padding: 60px;
  }
  p{
    padding-top: 100px;
    font-family: "kalam", "sans-serif";
    .hrt{
      height: 15px;
    }
  }
  .icons{
    height: 100px;
    justify-items: flex-end;
    .icon{
      height: 50px;
      margin: 0 5px;
    }
  }
}