<div class="container">
  <ion-row>
    <ion-col>
      <h3>
        <ion-icon
          name="arrow-back-circle-outline"
          class="back-icon"
          routerLink="/home"
        ></ion-icon>
        KYC
      </h3>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="banner">
      <img src="../../../assets/kyc banner.svg" alt="" />
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="10">
      <input
        type="text"
        class="input-field"
        placeholder="Aadhar card number"
      />
    </ion-col>
    <ion-col size="10">
      <input
        type="text"
        class="input-field"
        placeholder="PAN card number"
      />
    </ion-col>
    <ion-col size="10">
      <input type="text" class="input-field" placeholder="Date of birth" />
    </ion-col>
    <ion-col size="12" class="submit-btn">
      <button class="btn">Submit</button>
    </ion-col>
  </ion-row>
</div>
