<div class="container">
  <ion-row>
    <ion-col>
      <h3>
        <ion-icon name="arrow-back-circle-outline" class="back-icon"></ion-icon>
        edit profile
      </h3>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="banner"></ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item class="input-field">
        <ion-label class="label" position="floating">name</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item class="input-field">
        <ion-label class="label" position="floating">email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-button type="submit" class="submit-btn">Submit</ion-button>  
    </ion-col>
  </ion-row>
</div>