<div class="container">
  <ion-row>
    <ion-col>
      <h1>
        <ion-icon name="arrow-back-circle-outline" class="back-icon" routerLink="/home"></ion-icon>
        DASHBACK
      </h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col >
      <img src="../../../assets/pin-forgot.svg" alt="" height="100" width="100" class="center">
      <br>
      <br>
      <h3>Forgotten your PIN ?</h3>
      <br>
      <p style="color:navy;">No worries! We will send you a reset.</p>
      <br>
      <br>
      <br>
      <ion-item class="input-field">
        <ion-input type="text" placeholder="Email or Mobile"></ion-input>
      </ion-item>
      <ion-button type="submit" class="submit-btn">Send Request</ion-button>
    </ion-col>
  </ion-row>
  </div>