<div class="container">

  <ion-row>
    <ion-col class="banner">
      <p>Refer your friend and earn cashbach of 1 crore</p>
      <img src="../../../../assets/refer banner.svg" alt="">
    </ion-col>
  </ion-row>
  
  <ion-row class="refer-link">
    <ion-col size="12">
      <p>Lorem ipsum dolor sit amet consect adipisicing.</p>
    </ion-col>

    <ion-col size="12">
      <h5 class="invite-heading">your invite</h5>
    </ion-col>

    <ion-col size="12">
      <h5 class="copy-link">wckhgdwhjgdcsuhvfdb</h5>
    </ion-col>

    <ion-col size="12">
      <div class="share-btn">share</div>
    </ion-col>
  </ion-row>
</div>
