.copy-link-main{
    background-color: rgba(128, 128, 128, 0.253);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    p{
        color: #1d1d62c2;
        font-size: 18px;
    }
    .link{
        border: 1px solid #1d1d62;
        margin: 10px 0;
        p{
            color: #000;
            padding: 4px 8px;
            font-size: 16px;
        }
    }
}