*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    background-color: #fff;
    h3{
        color: #162249;
        padding: 40px 0 28px 20px;
        font-size: 24px;
        display: flex;
        .back-icon{
            margin-right: 20px;
        }
    }
    .ion-list{
        height: 90vh;
        overflow-y: scroll;
        padding-bottom: 50px;
    }
    .ion-item{
        img{
            margin-bottom: 12px;
        }
        padding: 0 10px 14px;
        .ion-label{
            margin: 0 0 12px 15px;
        }
    }
}