<div class="container" *ngIf="tierView == true">
  <ion-row>
    <ion-col size="12">
      <h3>
        <ion-icon name="arrow-back-circle-outline" class="back-icon" routerLink="/home"></ion-icon>
        Select Your Tier
      </h3>
    </ion-col>
  </ion-row>
  
  <ion-row class="list-height">
    <ion-col size="12">
      <div class="list" (click)="tier('1')">
        <div class="list-item"><p>1<br><span>tier</span></p></div>
        <p>lorem ipsum</p>
      </div>
    </ion-col>
    <ion-col size="12">
      <div class="list" (click)="tier('2')">
        <div class="list-item"><p>2<br><span>tier</span></p></div>
        <p>lorem ipsum</p>
      </div>
    </ion-col>
    <ion-col size="12">
      <div class="list" (click)="tier('3')">
        <div class="list-item"><p>3<br><span>tier</span></p></div>
        <p>lorem ipsum</p>
      </div>
    </ion-col>
    <ion-col size="12">
      <div class="list" (click)="tier('4')">
        <div class="list-item"><p>4<br><span>tier</span></p></div>
        <p>lorem ipsum</p>
      </div>
    </ion-col>
    <ion-col size="12">
      <div class="list" (click)="tier('5')">
        <div class="list-item"><p>5<br><span>tier</span></p></div>
        <p>lorem ipsum</p>
      </div>
    </ion-col>
    <ion-col size="12">
      <div class="list" (click)="tier('6')">
        <div class="list-item"><p>6<br><span>tier</span></p></div>
        <p>lorem ipsum</p>
      </div>
    </ion-col>
    <ion-col size="12">
      <div class="list" (click)="tier('7')">
        <div class="list-item"><p>7<br><span>tier</span></p></div>
        <p>lorem ipsum</p>
      </div>
    </ion-col>
    <ion-col size="12">
      <div class="list" (click)="tier('8')">
        <div class="list-item"><p>8<br><span>tier</span></p></div>
        <p>lorem ipsum</p>
      </div>
    </ion-col>
    <ion-col size="12">
      <div class="list" (click)="tier('9')">
        <div class="list-item"><p>9<br><span>tier</span></p></div>
        <p>lorem ipsum</p>
      </div>
    </ion-col>
    <ion-col size="12">
      <div class="list" (click)="tier('10')">
        <div class="list-item"><p>10<br><span>tier</span></p></div>
        <p>lorem ipsum</p>
      </div>
    </ion-col>
    <ion-col size="12">
      <div class="list" (click)="tier('11')">
        <div class="list-item"><p>11<br><span>tier</span></p></div>
        <p>lorem ipsum</p>
      </div>
    </ion-col>
    <ion-col size="12">
      <div class="list" (click)="tier('12')">
        <div class="list-item"><p>12<br><span>tier</span></p></div>
        <p>lorem ipsum</p>
      </div>
    </ion-col>
  </ion-row>
</div>



















<div class="container2" *ngIf="tierView == false">
  <ion-row>
    <ion-col size="12">
      <h3>
        <ion-icon name="arrow-back-circle-outline" class="back-icon" (click)="back()"></ion-icon>
        my team
      </h3>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div class="search-bar">
        <form [formGroup]="search" (ngSubmit)="find()">
          <div class="input-field">
          <input type="search" class="input-box" placeholder="Enter your name" formControlName = "search"  />
          <button type="submit" class="submit-btn">
            <ion-icon class="icon" name="search-outline"></ion-icon>
          </button>
          </div> 
        </form> 
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div class="card">
        <div [ngClass]="'card-header'">
          <div class="img"></div>
          <h3>Tier {{tierNo}}</h3>
        </div>
        <div class="body">
          <p>Team Size : {{tierData?.length}}</p>
          <p>Total Utility Cashback : {{totalVal}}</p>
          <p>Total Account Cashback : </p>
          <p>Total E-commerce Cashback : </p>
          <p>Total Ad Cashback: </p>
        </div>
      </div>
    </ion-col>
    <ion-col>
      <div  *ngFor="let r of tierData" [ngClass]="{'card':r.account === null || 'Basic' ,'Premium':r.account == 'Premium'}">
        <div  class="card-header">
          <div class="img"></div>
          <h3>{{r.name}}</h3>
        </div>
        <div class="body">
          <p>Utility Cashback : {{r.earning.utility}}</p>
          <p>Account Cashback : {{r.earning.demat}}</p>
          <p>E-commerce Cashback : {{r.earning.eComm}}</p>
          <p>Ad Cashback: {{r.earning.ad}}</p>
        </div>
      </div>
    </ion-col>
  </ion-row>
</div>