*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    background-color: #fff;
    h3{
        color: #162249;
        padding: 40px 0 28px 20px;
        font-size: 24px;
        display: flex;
        text-transform: capitalize;
        .back-icon{
            margin-right: 20px;
        }
    }
    .ion-list{
        height: 90vh;
        overflow-y: scroll;
        padding-bottom: 50px;
    }
    .ion-item{
        img{
            margin-bottom: 12px;
        }
        padding: 0 10px 14px;
        .ion-label{
            margin: 0 0 12px 15px;
        }
    }
}











*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container2{
    background-color: #fff;
    min-height: 100vh;
    overflow-y: scroll;
    h3{
        color: #162249;
        padding: 40px 0 28px 20px;
        font-size: 24px;
        display: flex;
        text-transform: capitalize;
        .back-icon{
            margin-right: 20px;
        }
    }
    .search-bar{
        padding: 0 50px;
        .input-field{
            --background: #fff;
            border: 1px solid #1d1d62;
            margin-bottom: 20px;
            padding: 0;
            color: #000;
            .label{
                color: #1a4170;
                font-size: 18px;
                text-transform: capitalize;
            }
        }
        .submit-btn{
            --background: #2B3E80;
            color: #fff;
            position: absolute;
            top: 10px;
            right: 65px;
            z-index: 1;
        }
    }

    .card{
        margin: 20px 50px;
        overflow: scroll;
        .card-header{
            background-image: linear-gradient(to right, #37A7E6, #3D54BA);
            height: 100px;
            border-radius: 20px 20px 0 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            .img{
                height: 80px;
                width: 80px;
                border-radius: 50%;
                background-color: #fff;
            }
            h3{
                color: #fff;
                text-transform: capitalize;
                font-size: 28px;
            }
        }
        .body{
            height: 200px;
            border-radius: 0 0 20px 20px;
            border: 2px solid #37A7E6;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            flex-direction: column;
            p{
                color: #000;
                font-size: 16px;
                padding: 10px;
            }
        }
    }
}