<div class="container">
  <ion-row>
    <ion-col>
      <h3>
        <ion-icon name="arrow-back-circle-outline" class="back-icon" routerLink="/home"></ion-icon>
        transaction details
      </h3>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="profile">
      <img src="../../../assets/profile.svg" alt="">
      <div class="details">
        <h4>to/from:</h4>
        <h4>name</h4>
        <p>Jun 20, 00:00 AM/PM</p>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <p class="money">₹00000</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div class="card">
        <div>
          <h4>UPI Transaction ID</h4>
          <p>u8987r8498</p>
        </div>
        <div>
          <h4>To: NAME</h4>
          <p>UPI @123</p>
        </div>
        <div>
          <h4>From: MY NAME</h4>
          <p>UPI @123</p>
        </div>
      </div>
    </ion-col>
  </ion-row>
</div>