<ion-row>
  <ion-col size="12">
    <h4>transaction history</h4>
  </ion-col>
</ion-row>

<ion-grid class="history-portion">
<ion-row>
  <ion-col>
    <ion-row>
      <ion-col size="12">
        <div class="history">
          <p>payment type <br> <span class="date-style">dd/mm/yy</span></p>
          <strong>
            <p>
              0000.00 
              <span>₹</span><br>
              <img src="../../../assets/down.svg" alt="" class="payment-arrow ion-margin-end">
            </p>
          </strong>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <div class="history">
          <p>payment type <br> <span class="date-style">dd/mm/yy</span></p>
          <strong>
            <p>
              0000.00 
              <span>₹</span><br>
              <img src="../../../assets/up.svg" alt="" class="payment-arrow ion-margin-end">
            </p>
          </strong>
        </div>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="12">
        <div class="history">
          <p>payment type <br> <span class="date-style">dd/mm/yy</span></p>
          <strong>
            <p>
              0000.00 
              <span>₹</span><br>
              <img src="../../../assets/down.svg" alt="" class="payment-arrow ion-margin-end">
            </p>
          </strong>
        </div>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="12">
        <div class="history">
          <p>payment type <br> <span class="date-style">dd/mm/yy</span></p>
          <strong>
            <p>
              0000.00 
              <span>₹</span><br>
              <img src="../../../assets/up.svg" alt="" class="payment-arrow ion-margin-end">
            </p>
          </strong>
        </div>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="12">
        <div class="history">
          <p>payment type <br> <span class="date-style">dd/mm/yy</span></p>
          <strong>
            <p>
              0000.00 
              <span>₹</span><br>
              <img src="../../../assets/down.svg" alt="" class="payment-arrow ion-margin-end">
            </p>
          </strong>
        </div>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="12">
        <div class="history">
          <p>payment type <br> <span class="date-style">dd/mm/yy</span></p>
          <strong>
            <p>
              0000.00 
              <span>₹</span><br>
              <img src="../../../assets/up.svg" alt="" class="payment-arrow ion-margin-end">
            </p>
          </strong>
        </div>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="12">
        <div class="history">
          <p>payment type <br> <span class="date-style">dd/mm/yy</span></p>
          <strong>
            <p>
              0000.00 
              <span>₹</span><br>
              <img src="../../../assets/down.svg" alt="" class="payment-arrow ion-margin-end">
            </p>
          </strong>
        </div>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
</ion-grid>