*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    background-color: #fff;
    min-height: 100vh;
    padding: 10px;
    h3{
        color: #162249;
        padding: 40px 0 28px 20px;
        font-size: 24px;
        display: flex;
        text-transform: capitalize;
        .back-icon{
            margin-right: 20px;
        }
    }
    
    .banner{
        min-height: 120px;
        margin: 20px 10px 50px;
        img{
            object-fit: cover;
        }
    }
}