<div>
  <ion-row>
        <ion-col>
          <p class="card-line"></p>
        </ion-col>
      </ion-row>


      <ion-row >
        <ion-col size="3" class="ionic-col">
          <img src="../../assets/add.svg" class="img-fluid" alt="">
          <p>add</p>
        </ion-col>
        <ion-col size="3" class="ionic-col">
          <img src="../../assets/pay.svg" class="img-fluid" alt="">
          <p>pay</p>
        </ion-col>
        <ion-col size="3" class="ionic-col">
          <img src="../../assets/request.svg" class="img-fluid" alt="">
          <p>request</p>
        </ion-col>
        <ion-col size="3" class="ionic-col">
          <img src="../../assets/refer.svg" class="img-fluid" alt="">
          <p>refer</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ad-sense"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <p class="utility-heading">utilities</p>
        </ion-col>
      </ion-row>


      <ion-row >
        <ion-col size="3" class="ionic-col">
          <img src="../../assets/mobile.svg" class="utility-img" alt="">
          <p class="utility-para">add</p>
        </ion-col>
        <ion-col size="3" class="ionic-col">
          <img src="../../assets/electricity.svg" class="utility-img" alt="">
          <p class="utility-para">pay</p>
        </ion-col>
        <ion-col size="3" class="ionic-col">
          <img src="../../assets/bills.svg" class="utility-img" alt="">
          <p class="utility-para">request</p>
        </ion-col>
        <ion-col size="3" class="ionic-col">
          <img src="../../assets/dth.svg" class="utility-img" alt="">
          <p class="utility-para">refer</p>
        </ion-col>
      </ion-row>


      <ion-row >
        <ion-col size="3" class="ionic-col">
          <img src="../../assets/gas.svg" class="utility-img" alt="">
          <p class="utility-para">add</p>
        </ion-col>
        <ion-col size="3" class="ionic-col">
          <img src="../../assets/water.svg" class="utility-img" alt="">
          <p class="utility-para">pay</p>
        </ion-col>
        <ion-col size="3" class="ionic-col">
          <img src="../../assets/shopping.svg" class="utility-img" alt="">
          <p class="utility-para">request</p>
        </ion-col>
        <ion-col size="3" class="ionic-col">
          <img src="../../assets/more.svg" class="utility-img" alt="">
          <p class="utility-para">refer</p>
        </ion-col>
      </ion-row>
</div>