<div>
  <ion-row>
    <ion-col>
      <ion-item lines="Center" class="input-field">
        <ion-label class="label" position="floating">Number</ion-label>
        <ion-input type="tel" required formControlName="number"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item lines="Center" class="input-field">
        <ion-label class="label" position="floating">Amount</ion-label>
        <ion-input type="text" required formControlName="amount"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button type="submit" class="btn" expand="block">Send Money</ion-button>
    </ion-col>
  </ion-row>
</div>