<ion-content>
  <div class="container">
    <ion-row>
      <ion-col>
        <h3>
          <ion-icon name="arrow-back-circle-outline" class="back-icon" routerLink="/home/dash"></ion-icon>
          Send Money
        </h3>
      </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col>
        <ion-item lines="Center" class="input-field">
          <ion-label class="label" position="floating">Number</ion-label>
          <ion-input type="tel" required ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="Center" class="input-field">
          <ion-label class="label" position="floating">Amount</ion-label>
          <ion-input type="text" required ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button type="submit" class="btn">Send Money</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
