<ion-content>
  <div class="container">
    <ion-row>
      <ion-col size="12">
        <h3>
          <ion-icon name="arrow-back-circle-outline" class="back-icon" routerLink="/home/dash"></ion-icon>
          Pay Money
        </h3>
      </ion-col>
      <ion-col size="12">
        <h4>Who do you want <br> to trasfer money to?</h4>
      </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col>
        <ion-item lines="Center" class="input-field">
          <ion-label class="label" position="floating">Name or number</ion-label>
          <ion-input type="tel" required ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="btn">proceed</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="contact-heading">
          <p>All contacts</p>
        </div>
      </ion-col>
      <div class="contact-height">
        <ion-col size="12" class="contact-details">
          <img src="../../../../assets/profile.svg" alt="">
          <div class="details">
            <p>name</p>
            <p>number</p>
          </div>
        </ion-col>
        <ion-col size="12" class="contact-details">
          <img src="../../../../assets/profile.svg" alt="">
          <div class="details">
            <p>name</p>
            <p>number</p>
          </div>
        </ion-col>
        <ion-col size="12" class="contact-details">
          <img src="../../../../assets/profile.svg" alt="">
          <div class="details">
            <p>name</p>
            <p>number</p>
          </div>
        </ion-col>
        <ion-col size="12" class="contact-details">
          <img src="../../../../assets/profile.svg" alt="">
          <div class="details">
            <p>name</p>
            <p>number</p>
          </div>
        </ion-col>
        <ion-col size="12" class="contact-details">
          <img src="../../../../assets/profile.svg" alt="">
          <div class="details">
            <p>name</p>
            <p>number</p>
          </div>
        </ion-col>
        <ion-col size="12" class="contact-details">
          <img src="../../../../assets/profile.svg" alt="">
          <div class="details">
            <p>name</p>
            <p>number</p>
          </div>
        </ion-col>
        <ion-col size="12" class="contact-details">
          <img src="../../../../assets/profile.svg" alt="">
          <div class="details">
            <p>name</p>
            <p>number</p>
          </div>
        </ion-col>
      </div>
    </ion-row>
  </div>
</ion-content>


<!-- <div class="container">
  <ion-row>
    <ion-col size="12">
      <div class="main">
        <img src="../../../../assets/pro-conn.svg" alt="">
        <p>Paying money to xyz</p>
        <h4>₹00</h4>
        <div class="btn-send">send</div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="key-card">
      <ion-row>
        <ion-col class="ion-col">1</ion-col>
        <ion-col class="ion-col">2</ion-col>
        <ion-col class="ion-col">3</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-col">4</ion-col>
        <ion-col class="ion-col">5</ion-col>
        <ion-col class="ion-col">6</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-col">7</ion-col>
        <ion-col class="ion-col">8</ion-col>
        <ion-col class="ion-col">9</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-col">X</ion-col>
        <ion-col class="ion-col">0</ion-col>
        <ion-col class="ion-col">.</ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</div> -->