<ion-row>
  <ion-col size="12" class="slider">
    <ion-content  routerLink="/home/coming-soon">
      <ion-slides class="ion-slides" #slide (ionSlidesDidLoad)="slider(slide)" pager="true" [options]="slideOpts">
        <ion-slide class="ion-slide">
          <img src="../../../assets/banner-01.jpg" alt="">
        </ion-slide>
        <ion-slide class="ion-slide">
          <img src="../../../assets/banner-02.jpg" alt="">
        </ion-slide>
        <ion-slide class="ion-slide">
          <img src="../../../assets/banner-03.jpg" alt="">
        </ion-slide>
        <ion-slide class="ion-slide">
          <img src="../../../assets/banner-04.jpg" alt="">
        </ion-slide>
      </ion-slides>
    </ion-content>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="4" class="ionic-col-grid">
    <img src="../../../assets/Amazon.svg" alt="">
  </ion-col>
  <ion-col size="4" class="ionic-col-grid">
    <img src="../../../assets/flipkart.svg" alt="">
  </ion-col>
  <ion-col size="4" class="ionic-col-grid">
    <img src="../../../assets/itc.svg" alt="">
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="4" class="ionic-col-grid">
    <img src="../../../assets/ajio.svg" alt="">
  </ion-col>
  <ion-col size="4" class="ionic-col-grid">
    <img src="../../../assets/adidas.svg" alt="">
  </ion-col>
  <ion-col size="4" class="ionic-col-grid">
    <img src="../../../assets/myntra.svg" alt="">
  </ion-col>
</ion-row>