*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.slider{
    height: 25rem;
}

@media only screen and (max-width: 1080px) {
    .slider{
    height: 17rem;
    }
}

@media only screen and (max-width: 720px) {
    .slider{
    height: 13rem;
    }
}

@media only screen and (max-width: 420px) {
    .slider{
    height: 9rem;
    }
}

@media only screen and (max-width: 320px) {
    .slider{
    height: 6rem;
    }
}

.ionic-col{
    height: 15rem;
    background-color: rgb(219, 219, 219);
    border: 5px solid #fff;
}

.ionic-col-grid{
    height: 7rem;
    border: 5px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

@media only screen and (max-width: 1080px) {
    .ionic-col{
        height: 13rem;
    } 
}

@media only screen and (max-width: 720px) {
    .ionic-col{
        height: 11rem;
    } 
}

@media only screen and (max-width: 420px) {
    .ionic-col{
        height: 9rem;
    } 
}

@media only screen and (max-width: 320px) {
    .ionic-col{
        height: 7rem;
    } 
}