*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.slider{
    height: 25rem;
}

.ionic-row{
    .ionic-col-grid{
        height: 7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        img{
            height: 180px;
        }
    }
}

@media only screen and (max-width: 1080px) {
    .slider{
    height: 17rem;
    }
}

@media only screen and (max-width: 720px) {
    .slider{
    height: 13rem;
    }
}

@media only screen and (max-width: 420px) {
    .slider{
    height: 9rem;
    }
}

@media only screen and (max-width: 320px) {
    .slider{
    height: 6rem;
    }
}