*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.ionic-col{
    height: 15rem;
    background-color: rgb(219, 219, 219);
    margin-bottom: 10px;
}

@media only screen and (max-width: 1080px) {
    .ionic-col{
        height: 13rem;
    }
}

@media only screen and (max-width: 720px) {
    .ionic-col{
        height: 11rem;
    }
}

@media only screen and (max-width: 420px) {
    .ionic-col{
        height: 9rem;
    }
}

@media only screen and (max-width: 320px) {
    .ionic-col{
        height: 7rem;
    }
}

