*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.ionic-col{
    height: 15rem;
    background-color: rgb(219, 219, 219);
    margin-bottom: 10px;
}

@media only screen and (max-width: 1080px) {
    .ionic-col{
        height: 13rem;
    }
}

@media only screen and (max-width: 720px) {
    .ionic-col{
        height: 11rem;
    }
}

@media only screen and (max-width: 420px) {
    .ionic-col{
        height: 9rem;
    }
}

@media only screen and (max-width: 320px) {
    .ionic-col{
        height: 7rem;
    }
}


.input-field{
    --background: #fff;
    margin: 20px 0 10px 0;
    padding: 0;
    color: #000;
    .label{
        color: #1d1d62;
    }
}
.btn{
    margin: 16px 0 30px 0;
    --background: #1d1d62;
}


.copy-link-main{
    background-color: rgba(128, 128, 128, 0.253);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    p{
        color: #1d1d62c2;
        font-size: 18px;
    }
    .link{
        border: 1px solid #1d1d62;
        margin: 10px 0;
        p{
            color: #000;
            padding: 4px 8px;
            font-size: 16px;
        }
    }
}

.request{
    height: 30vh;
    background-color: rgba(128, 128, 128, 0.253);
    margin: 10px 0;
    border-radius: 50px;
    box-shadow: inset 20px 20px 60px #bebebe, inset -20px -20px 60px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1d1d62;
    font-size: 24px;
    cursor: pointer;
    &:hover{
        box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    }
}