*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container{
  height: 100vh;
  background-image: linear-gradient(to right, #37A7E6, #3D54BA);
  .small-img{
      height: 42px;
      width: 42px;
      background-color: #fff;
      border-radius: 50%;
      margin: 16px 0 0 10px;
      border: 2px solid #1D1D62;
  }
  .dashboard-heading{
      text-align: center;
      text-transform: uppercase;
      font-weight: bolder;
      font-size: 28px;
      margin-top: 20px;
  }
  .img-outer-div{
    display: flex;
    margin: 22px 10px 0 0;
    .dots{
      height: 22px;
      margin-left: auto;
    }
  }
  .big-img{
      height: 150px;
      width: 150px;
      background-color: #fff;
      margin: 0 auto;
      border-radius: 50%;
      margin-top: 25px;
      border: 4px solid #1D1D62;
  }
  .dashboard-profile-edit{
      text-align: center;
      font-size: 11px;
      margin-top: 5px;
      text-transform: capitalize;
  }
  .dashboard-username{
      padding: 0 0 0 30px;
      font-size: 32px;
      margin-top: 50px;
  }
  .dashboard-number{
      padding: 0 0 0 30px;
      margin-top: 20px;
  }
  #container-card{
    background-color: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 50px 50px 0 0;
    padding-bottom: 50px;
    .card-line{
        height: 4px;
        width: 180px;
        background-color: rgb(233, 229, 229);
        margin: 15px auto 40px;
    }
    .inner-card{
      overflow-y: scroll;
      padding: 0 15px;
    }
  }
}

#navbar{
  background-image: linear-gradient(to right, #37A7E6, #3D54BA);
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 100;
  height: 50px;
  border-radius: 20px 20px 0 0;
  padding: 14px 0;
  overflow: hidden;
  svg{
    height: 22px;
  }
}