<!-- <button routerLink="../login">route</button>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="outer-div">
      <div class="inner-div"></div>
    </div>
  </div>
  <div class="inner-img"></div>
</ion-content> -->

<!-- starting animation -->


<ion-content [fullscreen]="true">
 <div id="container">
   <ion-grid>
     <ion-row>
       <ion-col size="12" class="dashboard-heading">
         dashback
       </ion-col>
     </ion-row>
     <ion-row>
       <ion-col size="12"> 
         <div class="img"></div>
       </ion-col>
     </ion-row>
     <ion-row>
      <ion-col size="12" class="dashboard-profile-edit"> 
        <p>edit profile</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="dashboard-username"> 
        <p>Hello XYZ !</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="dashboard-number"> 
        <p>+91 000 000 000</p>
      </ion-col>
    </ion-row>
   </ion-grid>

   <ion-grid id="container-card">
     <ion-row>
       <ion-col>
         <p class="card-line"></p>
       </ion-col>
     </ion-row>
   </ion-grid>
 </div>