*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container{
  height: 100vh;
  background-image: linear-gradient(to right, #37A7E6, #3D54BA);
  .dashboard-heading{
      text-align: center;
      text-transform: uppercase;
      font-weight: bolder;
      font-size: 28px;
      margin-top: 20px;
  }
  .img{
      height: 150px;
      width: 150px;
      background-color: #fff;
      margin: 0 auto;
      border-radius: 50%;
      margin-top: 25px;
      border: 4px solid #1D1D62;
  }
  .dashboard-profile-edit{
      text-align: center;
      font-size: 11px;
      margin-top: 5px;
      text-transform: capitalize;
  }
  .dashboard-username{
      padding: 0 0 0 30px;
      font-size: 32px;
      margin-top: 50px;
  }
  .dashboard-number{
      padding: 0 0 0 30px;
      margin-top: 20px;
  }
  #container-card{
    background-color: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 40px 40px 0 0;
    overflow: scroll;
    padding: 0 20px;
    .card-line{
        height: 4px;
        width: 150px;
        background-color: rgb(233, 229, 229);
        margin: 15px auto 60px;
    }
  }
}

#navbar{
  background-image: linear-gradient(to right, #37A7E6, #3D54BA);
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 100;
  height: 50px;
  border-radius: 20px 20px 0 0;
  padding: 12px 0;
  font-size: 24px;
  overflow: hidden;
  svg{
    height: 25px;
  }
}