<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="dashboard-heading">
          dashback
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12"> 
          <div class="img"></div>
        </ion-col>
      </ion-row>
      <ion-row>
       <ion-col size="12" class="dashboard-profile-edit"> 
         <p>edit profile</p>
       </ion-col>
     </ion-row>
     <ion-row>
       <ion-col size="12" class="dashboard-username"> 
         <p>Hello XYZ !</p>
       </ion-col>
     </ion-row>
     <ion-row>
       <ion-col size="12" class="dashboard-number"> 
         <p>+91 000 000 000</p>
       </ion-col>
     </ion-row>
    </ion-grid>
 
    <ion-grid id="container-card" [ngStyle]="{'height':slide, 'transition-duration': trans}">
      <ion-row>
        <ion-col>
          <router-outlet></router-outlet>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- <div id="navbar">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-text-center">
        <ion-col (click)="slideUp()" routerLink='dash'>©</ion-col>
        <ion-col (click)="slideUp()" routerLink='more'>©</ion-col>
        <ion-col (click)="slideUp()" routerLink='eComm'>©</ion-col>
        <ion-col (click)="slideUp()" routerLink='wallet'>©</ion-col>
        <ion-col (click)="slideUp()" routerLink='history'>©</ion-col>
      </ion-row>
    </ion-grid>
  </div> -->
  <ion-tabs class="ion-tabs">
    <ion-tab-bar slot="bottom" class="tab-bar">
      <ion-tab-button tab="dash" (click)="slideUp()">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="more" (click)="slideUp()">
        <ion-icon name="grid"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="eComm" (click)="slideUp()">
        <ion-icon name="people"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="wallet" (click)="slideUp()">
        <ion-icon name="wallet"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="history" (click)="slideUp()">
        <ion-icon name="list"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
 </ion-content> 